<div class="about row">

    <div class="col-md-8">

        <h2>基本情况</h2>

        <p>中共党员 退役军官</p>

        <h2>联系方式</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>

		<h2>教育背景</h2>

		<ul>
			<li>2006 - 2010 大连理工大学  计算机科学与技术专业（本科）</li>
			<li>2010 - 2011 石家庄机械化步兵学院  步兵指挥（本科）</li>
		</ul>

		<h2>项目经历</h2>
		
		<ul>
			<li>2016.03 - 2016.06 手机答题软件</li>
			<li>2015.07 - 2015.09 图标管理器</li>
			<li>2010.03 - 2010.06 基于CryENGINE的陆军训练模拟系统</li>
			<li>2009.06 - 2009.06 PHP网站</li>
			<li>2008.09 - 2008.11 编译器</li>
		</ul>

		<h2>工作经历</h2>

		<h4>社会工作： 2011.07 - 2016.08 北方战区某野战部队</h4>
		
		历任基层排长、旅服务中心主任、步兵营副连长、新兵连政治指导员
		
		<h5>主要职责</h5>
		
		<ul>
			<li>负责以军事训练为主的各项工作，带领部属完成战备、演习等任务；</li>
			<li>制作教案及配套幻灯片，制作宣传画、展板。</li>
		</ul>
		<h5>工作成果</h5>
		<ul>
			<li>带领新兵连参加考核成绩优秀，被评为优秀新兵连，本人被评为优秀带兵干部；</li>
			<li>连队宣传工作受到旅首长表扬，一些好方法被机关采纳并推广。</li>
		</ul>
		<h4>校内工作： 2007.08 - 2010.06 共青团大连理工大学委员会</h4>
		担任宣传调研部副部长、网络工作室主任
		<h5>主要职责</h5>
		<ul>
			<li>管理校团委学生会办公楼机房；</li>
			<li>维护校团委网站，指导各学院学生网站建设。</li>
		</ul>
		<h5>工作成果</h5>
		<ul>
			<li>重新配置网络设备，合理规划网络资源，解决了办公楼网络不顺畅的问题；</li>
			<li>拓展校团委网站功能，使网站成为获取学生活动信息的最佳途径。</li>
		</ul>
        <h2>专业技能</h2>

        {% if site.skill_software_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Software Engineer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_software_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_j2ee_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">J2EE Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_j2ee_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_mobile_app_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Mobile Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_mobile_app_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_web_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Web Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_web_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}
		
		<h2>获得荣誉</h2>

		<ul>

			<h4>奖学金</h4>

			<li>2006.12 国家奖学金</li>
			<li>2007.10 学习优秀奖学金</li>
			<li>2007.12 曾宪梓奖学金</li>
			<li>2008.10 学习优秀奖学金</li>
			<li>2009.10 学习优秀奖学金</li>
			
			<h4>其他荣誉</h4>

			<li>2008.06 宣传工作先进个人</li>
			<li>2008.12 优秀团员</li>
			<li>2008.12 廉洁工作先进个人</li>
			<li>2010.06 优秀毕业国防生</li>
			<li>2010.08 嘉奖</li>
			<li>2011.03 学习训练标兵</li>
			<li>2011.03 优秀共产党员</li>
			<li>2011.06 精武强能标兵</li>
			<li>2011.09 优秀学员</li>
			<li>2013.12 优秀带兵干部</li>
			<li>2014.08 晋升上尉军衔</li>
			<li>2014.12 先进新兵连</li>
			<li>2014.12 嘉奖</li>
		</ul>
    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>